.App {
  text-align: center;
  justify-content: center;
  display: flex;
}
.card {
  border: 1px solid rgb(50, 50, 131);
  width: 25rem;
  padding: 20px;
  margin: 50px;
  border-radius: 20px;
}
.to-do-list {
  background-color: rgb(50, 50, 131);
  color: white;
}
ul {
  list-style: none;
  line-height: 1;
}

.list-button {
  display: flex;
  justify-content: space-between;
}
